/*RESETAR SITE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}


/*VARIAVEIS*/

:root {
  --corPrincipal: #1e324a;
  --corSecundaria: #f37a1b;
}


/*HEADER*/

header {
  background-color: var(--corPrincipal);
  height: 120px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

.links a {
  margin: 0 20px;
  color: white;
  text-decoration: none;
  transition: 1s;
}

.links a:hover {
  color: #be906c;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  margin: 0 20px;
}

.numero {
  display: flex;
  position: absolute;
  right: 30px;
  font-size: 13px;
  color: var(--corSecundaria);
}

.numero span{
    margin: 0 5px;
}

/*APRESENTACAO*/

.apresentacao{
    background-image: url(img/apresentacao.avif);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-flow: column;
    height: 700px;
}

.apresentacao h1{
    color: var(--corSecundaria);
    margin-bottom: 30px;
    font-size: 40px;
}

.orcamento{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 70px;
    padding: 10px 30px;
    letter-spacing: 1px;
    background: none;
    transition: 0.5s;
    color: white;
    border: 1px solid white;
}

.orcamento:hover{
    background-color: var(--corSecundaria);
    border: 1px solid var(--corSecundaria);
}

/*SOBRE NÓS*/

.sobre{
  display: flex;
  margin: 0 20%;
  gap: 80px;
  height: 550px;
}

.sobre h1{
  color: var(--corPrincipal);
  font-size: 35px;
  margin: 80px 0 30px 0;
  position: relative;
}

.sobre h1::before{
  content: "";
  width: 10px;
  height: 80px;
  background-color: var(--corPrincipal);
  position: absolute;
  left: -30px;
}

.sobre h2{
  color: var(--corSecundaria);
  margin-bottom: 50px;
  font-size: 23px;
}

.sobre span, .sobre p{
  font-weight: 100;
}

/*SERVIÇOS*/

.servicos{
  height: 800px;
  background-color: var(--corPrincipal);
  color: white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.servicos h1{
  position: absolute;
  top: -65px;
  left: -5px;
}

.servicos h1::before{
  content: "";
  position: absolute;
  background-color: white;
  width: 10px;
  height: 80px;
  left: -40px;
}


.cards{
  height: 70%;
  width: 55%;
  display: flex;
  gap: 40px;
  flex-flow: row wrap;
}

.card{
  width: 470px;
  height: 254px;
  padding: 30px;
  background-color: white;
  display: flex;
  gap: 50px;
}

.card span{
  color: hsl(177,38%,39%);
  font-weight: 900;
}

.card p{
  color: black;
  padding: 15px 0;
}

.card a{
  color: hsl(177,38%,39%);
}

@media only screen and (max-width: 1500px) {
  .servicos{
    height: auto;
    padding: 130px 0;
  }
}

@media only screen and (max-width: 800px) {
  .card{
    width: auto;
    height: auto;
  }
}




